<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="content">
    <h2 th:text="${message}"></h2>

    <div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>

    <form th:object="${food}" th:action="@{/home}" th:method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input th:field="*{name}" name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of the Food">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Price</label>
            <input th:field="*{price}" name="price" type="number" step="0.01" class="form-control" id="exampleInputPassword1" placeholder="Price">
        </div>

        <button type="submit" class="btn btn-primary">Add Food</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <!--            <tr th:each="food : ${foods}">-->
        <tr th:each="food, iterator : ${foods}">
            <th th:text="${iterator.index} + 1"></th>
            <td th:text="${food.name}"></td>
            <td th:text="${food.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>